psycopg2-binary
python-dotenv
fastapi
uvicorn[standard]
starlette
itsdangerous
mysql-connector-python
werkzeug
pandas
openpyxl
pyotp
qrcode[pil]
pillow
pdfplumber
google-generativeai
jinja2
python-multipart
gunicorn
uvicorn
